
.contact {
    background: rgba(228, 228, 228);
    color: #333;
    border: 1px solid #333;
    margin: 5% auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888;
    width: 60%;
    box-sizing: border-box;
}

#h1 {
    font-size: 30px;
    color: #f1f1f1;
    text-align: center;
}

.cursiva {
    font-size: 12px;
    font-style: italic;
}

.input{
    width:95%;
    display: block;
}

.textarea{
    width: 95%;
    display: block;
    height: 8rem;
}

.centrar {
    text-align: center;
}

p {
    font-size: 14px;
    width: 50%;
    text-align: justify;
    color: #f1f1f1;
}


.formulario {
    background: #CCCCCC;
    padding-left: 25px;
    width: 100%;
}

.boton {
    color: white;
    background-color: #993333;
    width: 95%;
    height: 30px;
    
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.error {
    border-color: #993333;
}

.exito {
    border-color: #2ecc71;
}

@media all and (max-width: 1120px) {

    .formulario {

        width: 100%;
        padding-right: 20%;
        padding: 5%;
    }

    .contact {
        margin: 20% auto;
        width: 80%;
    }
}
