{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<head>
        <link rel="stylesheet" href="{% static 'css/Formulario.css' %}">
</head>
<section  class="row main clearfix">
    
        <section class="col-xs-12 col-sm-6 contact">
           
            <center>
                
                <form class="Formulario" method="POST">
                    {% csrf_token %}
                    <p>Recuperar contraseña</p>
                    <label for="id_email">Correo:</label> {{ form.email }}
                    <input type="submit" value="Enviar">
                </form>
            </center>
        </section>
</section>


{% endblock %}