<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Galeria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Link Swiper's CSS -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link href="css/iconos/css/all.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="padre">
        <header class="header">
            <div class="menu margen-interno">
                <div class="logo">
                    <a href="index.html">Le.Topanzi</a>
                </div>
                <div class="nav">
                    <a href="index.html"><i class="fas fa-home" aria-hidden="true"></i><span
                            class="off">Inicio</span></a>
                    <a href="Nosotros.html"><i class="fas fa-users" aria-hidden="true"></i><span
                            class="off">Nosotros</span></a>
                    <a href="Productos.html"><i class="fas fa-hamburger" aria-hidden="true"></i><span
                            class="off">Productos</span></a>
                    <a href="Contacto.html"><i class="fas fa-envelope" aria-hidden="true"></i><span
                            class="off">Contacto</span></a>
                </div>
                <div class="social">
                    <div>
                        <a href="https://www.facebook.com/le.topanzi/" target="_blank"><i class="fab fa-facebook"
                                aria-hidden="true"></i></a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/le.topanzi/?hl=es-la" target="_blank"><i
                                class="fab fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Swiper -->
<section class=" section margen-interno">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(img/img1.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/img2.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/img3.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/img4.jpg)"></div>
                <div class="swiper-slide a" style="background-image:url(img/img5.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/img6.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/img7.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/img8.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/img9.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/img10.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/img11.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/img12.jpg)"></div>
            </div>
            <!-- Add Pagination -->

            <div id="nose" class="swiper-pagination margen-interno flex">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis officiis sequi minima natus, pariatur vitae vero vel non, quisquam       voluptates, quam commodi mollitia rerum harum excepturi sapiente sed ad esse.</p>
          </div>

        </div>
        </section>

        <footer class="footer margen-interno">
            <nav class="pie">
                <a href="#">Desarrollado con cariño para los kbros de Le.Topanzi por: Th3.MiMoX</a>
            </nav>
        </footer>

        <div class="iconosocial">
            <ul>
                <li>
                    <a href="https://www.facebook.com/le.topanzi/" target="_blank" class="icon-facebook">
                        <img src="imagenes/facebook-logo.png" width="32" height="32" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/le.topanzi/?hl=es-la" target="_blank" class="icon-instagram">
                        <img src="imagenes/instagram-logo.png" width="32" height="32" alt="">
                    </a>
                </li>
                <li>
                    <a href="Galeria.html" target="_blank" class="icon-camera">
                        <img src="imagenes/camara.png" width="32" height="32" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div >  
            <a class="flecharriba">
                <i class="fas fa-arrow-circle-up fa-2x"></i>
            </a>
        </div>
        
        
    </div>
    <!-- Swiper JS -->
    <script src="js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script src="js/swiper.js"></script>
    <script src="js/script.js"></script>
</body>

</html>