{% extends 'VentasTopanzi/base.html' %}
{% load static %}

{% block content %}
        
    <section class=" nose section ">
        <center>
            <img src="/static/img/img4.jpg" alt="">
        </center>
        <div class=" margen-interno flex">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum quas iste dolorem consectetur, asperiores sit aliquam. Sequi, labore temporibus praesentium consectetur impedit eaque fugiat exercitationem? Libero tenetur dolorem dolorum ducimus!</p>
        </div>
        <br>
        <div class=" margen-interno flex">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptas doloribus expedita porro ad, iure aperiam beatae iusto dolore ea! Obcaecati nemo modi harum sed beatae distinctio vero neque? Eos!</p>
        </div>
    </section>

{% endblock %}