<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nosotros</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="css/iconos/css/all.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="padre">
        <header class="header">
            <div class="menu margen-interno">
                <div class="logo">
                    <li><a href="index.html">Le.Topanzi</a></li>
                </div>
                <div class="nav">
                    <a href="index.html"><i class="fas fa-home" aria-hidden="true"></i><span
                            class="off">Inicio</span></a>
                    <a href="Nosotros.html"><i class="fas fa-users" aria-hidden="true"></i><span
                            class="off">Nosotros</span></a>
                    <a href="Productos.html"><i class="fas fa-hamburger" aria-hidden="true"></i><span
                            class="off">Productos</span></a>
                    <a href="Contacto.html"><i class="fas fa-envelope" aria-hidden="true"></i><span class="off">Contacto</span></a>
                </div>
                <div class="social">
                    <div>
                        <a href="https://www.facebook.com/le.topanzi/" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/le.topanzi/?hl=es-la" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </header>
        
        <section class=" nose  section ">
            <div class=" margen-interno flex">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum quas iste dolorem consectetur, asperiores sit aliquam. Sequi, labore temporibus praesentium consectetur impedit eaque fugiat exercitationem? Libero tenetur dolorem dolorum ducimus!</p>
            </div>
            <br>
            <div class=" margen-interno flex">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptas doloribus expedita porro ad, iure aperiam beatae iusto dolore ea! Obcaecati nemo modi harum sed beatae distinctio vero neque? Eos!</p>
            </div>
        </section>

        <footer class="footer margen-interno">
            <nav class="pie">
                <a href="#">Desarrollado con cariño para los kbros de Le.Topanzi por:</a>
            </nav>
        </footer>


        <div class="iconosocial">
            <ul>
                <li>
                    <a href="https://www.facebook.com/le.topanzi/" target="_blank" class="icon-facebook">
                        <img src="imagenes/facebook-logo.png" width="32" height="32" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/le.topanzi/?hl=es-la" target="_blank" class="icon-instagram">
                        <img src="imagenes/instagram-logo.png" width="32" height="32" alt="">
                    </a>
                </li>
                <li>
                    <a href="Galeria.html" target="_blank" class="icon-camera">
                        <img src="imagenes/camara.png" width="32" height="32" alt="">
                    </a>
                </li>
            </ul>
    </div>
        <div >  
            <a class="flecharriba">
                <i class="fas fa-arrow-circle-up fa-2x"></i>
            </a>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>

</html>