{% extends 'VentasTopanzi/base.html' %}
{% load static %}

{% block content %}
        <!------------------------------Agregar Productos--------------------------------------->
    <section class="produc1 flex text-center margen-interno">
        <div class="panes">
            <h2>Letopanzi Pollo</h2>
            <p class="precio">$1.100</p>
            <hr>
            <p>Pechuga de Pollo,Tomate sin semillas,Lechuga hidroponica, Cebolla Morada y Pepinillo en vinagre</p>
            <hr>
            <a href="" onclick="mensajeCompra()" class="btn-precio">Comprar</a>
        </div>
        <div class="panes">
            <h2>Letopanziladelfia</h2>
            <p class="precio">$1.100</p>
            <hr>
            <p>Queso tipo Filadelfia mesclado con Ciboulette, Tomate sin semillas, Albahaca, Lechuga hidroponica y
                Cebolla Morada</p>
            <hr>
            <a href="" onclick="mensajeCompra()" class="btn-precio">Comprar</a>
        </div>
        <div class="panes">
            <h2>Cheddar</h2>
            <p class="precio">$1.100</p>
            <hr>
            <p>Queso Cheddar, Champiñon laminado y Cebolla Caramelizada</p>
            <hr>
            <a href="" onclick="mensajeCompra()" class="btn-precio">Comprar</a>
        </div>
        <div class="panes">
            <h2>Jamon-Queso</h2>
            <p class="precio">$1.100</p>
            <hr>
            <p>Jamon laminado, Queso laminado, Tomate sin semillas, Albahaca</p>
            <hr>
            <a href="" onclick="mensajeCompra()" class="btn-precio">Comprar</a>
        </div>
        <div class="panes">
            <h2>Lactonesa de Cilantro</h2>
            <p class="precio">$1.000</p>
            <hr>
            <p>----</p>
            <hr>
            <a href="" onclick="mensajeCompra()" class="btn-precio">Comprar</a>
        </div>
        <div class="panes">
            <h2>Lactonesa de Ajo</h2>
            <p class="precio">$1.000</p>
            <hr>
            <p>----</p>
            <hr>
            <a href="" onclick="mensajeCompra()" class="btn-precio">Comprar</a>
        </div>
        <div class="panes">
            <h2>Lactonesa de Pimenton</h2>
            <p class="precio">$1.000</p>
            <hr>
            <p>----</p>
            <hr>
            <a href="" onclick="mensajeCompra()" class="btn-precio">Comprar</a>
        </div>
    </section>
{% endblock %}