{% extends 'VentasTopanzi/base.html' %}
{% load static %}

{% block content %}
<!------------------------------Agregar Productos--------------------------------------->
    <section class="produc1 flex text-center margen-interno">
            
        {% for pro in prod %}
        <div class="panes">
        <h2>{{ pro.nombreProducto }}</a></h2>
        <p class="precio">${{ pro.precio }}</p>
        <hr>
        <p>{{ pro.descripcion|linebreaksbr }}</p>
        <hr>
        <a href="" onclick="mensajeCompra()" class="btn-precio">Comprar</a>
        <img src="{{MEDIA_URL}}{{ pro.docfile }}" >
        </div>
        {% endfor %}
        
    </section>
{% endblock %}